body {
  font-family: "Reem Kufi Ink", sans-serif;
}
header {
  background-color: #751010d4;
  padding: 20px 0;
}
.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 126px;
  right: 0px;
  font-family: "Pacifico", cursive;
}
nav li {
  display: inline-block;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  color: rgb(220, 216, 8);
  text-decoration: underline;
}
footer {
  text-align: center;
  background-color: rgb(240, 194, 78);
  padding: 40px;
}
.copyright {
  font-family: "Pacifico", cursive;
  font-size: 15px;
  margin: 20px;
}
@media screen  and (max-width:450px) {
  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  nav li {
    margin: 10px;
  }
  .imagen-footer {
    width: 100%;
  }
}
